@model List<ResultBookingDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 1;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervasyon Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Rezervasyon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<table class="table table-striped mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">İsim Soyisim</th>
									<th scope="col">Telefon</th>
									<th scope="col">Kişi Sayısı</th>
									<th scope="col">Rezervasyon Durumu</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td hidden>@item.BookingId</td>
										<td>@count</td>
										<td>@item.Name</td>
										<td>@item.Phone</td>
										<td>@item.PersonCount</td>
										<td>Rezervasyon Alındı</td>
										<td><a href="/Booking/DeleteBooking/@item.BookingId" class="btn btn-outline-danger btn-rounded" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a></td>
										<td><a href="/Booking/UpdateBooking/@item.BookingId" class="btn btn-outline-warning btn-rounded">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<div class="d-flex justify-content-md-center mt-3">
							<a href="/Booking/CreateBooking/" class="btn btn-primary">Yeni Rezervasyon Ekle</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

