<!-- footer section -->
@model List<ResultContactDto>
@foreach (var item in Model)
{
	<footer class="footer_section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-col">
					<div class="footer_contact">
						<h4>
							Bize Ulaşın
						</h4>
						<div class="contact_link_box">
							<a href="@item.Location" target="_blank">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<span>
									Lokasyon
								</span>
							</a>
							<a href="tel:@item.Phone" target="_blank">
								<i class="fa fa-phone" aria-hidden="true"></i>
								@{
									var displayPhone = string.Format("{0:### ### ## ##}", Convert.ToInt64(item.Phone?.Substring(3))); // +90 sonrası
								}
								<span>+90 @displayPhone</span>
							</a>
							<a href="mailto:@(item.Email)?subject=Rezervasyon&body=Merhaba,%20rezervasyon%20yapmak%20istiyorum." target="_blank">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<span>
									@item.Email
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 footer-col">
					<div class="footer_detail">
						<a href="/Deafult/Index/" class="footer-logo">
							@item.FooterTitle
						</a>
						<p>
							@item.FooterDescription
						</p>
						<div class="footer_social">
							<a href="">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-pinterest" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 footer-col">
					<h4>
						@item.OpeningDays
					</h4>
					<p>
						@item.OpeningHours
					</p>
					<p>
						@item.OpenDaysNote
					</p>
				</div>
			</div>
			<div class="footer-info">
				<p>
					&copy; <span id="displayYear"></span> Tüm Hakları Saklıdır
					<a href="https://html.design/">By Free Html Templates</a><br><br>
					&copy; <span id="displayYear"></span> <a href="https://www.linkedin.com/in/yusufbilginn/" target="_blank">Yusuf Bilgin</a>
					Tarafından Geliştirildi
				</p>
			</div>
		</div>
	</footer>
}
